.card{
    border: 1px solid rgba(255, 246, 246, 0);
    border-radius: 17px;
    margin: 2rem auto;
    width: 300px;
    background-image: linear-gradient(256deg,  #40dd4d, #086e08);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.372), 0 6px 20px 0 rgba(0, 0, 0, 0.31);
    margin-bottom: -1rem;
    /* transition: all 5s ease-in; */
}
/* .card:hover{
    transform:scale(1.2);
    
} */
.cardHeader{
    /* border-bottom: 1px solid black; */
    /* background-color: green; */
    margin-top: 1rem;
    margin-bottom: -.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-family: 'Righteous';
}
.cardData{
    color: white;
    border-radius: 15px;
    margin-top: -.5rem;
    object-fit: cover;
    /* text-shadow: 2px 2px 4px #4dce1a; */
}
.cardImg{
    border-radius: 10px;
    
}
.card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.featTrails{
    text-align: center;
    color: green;
    margin-top: 25rem;
}
.trailCity{
    font-size: 80%;
}
.searchBar{
    margin-top: 9rem;
    object-position: center;
    margin-left: 4.5rem;
    box-shadow: rgb(14, 0, 0) !important;
    border: solid rgba(54, 215, 54, 0.365) !important;
    border-radius: 15px;
    width: 17rem !important;
    /* background-image: linear-gradient(
        360deg
        , #bafac0, #d9e9d9) !important; */
}
.favHead{
    margin-top: 7rem;
    text-align: center;
    color: green;
    font-size: 210%;
}
/* #home-btn{
    margin-left: px;
} */
.starRating {
    margin-top: -.5rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    
}