.card{
    border: 1px solid rgba(255, 246, 246, 0);
    border-radius: 10px;
    margin: 2rem auto;
    width: 300px;
    background-image: linear-gradient(45deg,  #40dd4d, #086e08);
}
.cardHeader{
    /* border-bottom: 1px solid black; */
    /* background-color: green; */
    margin-top: 1rem;
    margin-bottom: -.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cardData{
    color: white;
    border-radius: 15px;
    margin-top: -.5rem;
    object-fit: cover;
    /* text-shadow: 2px 2px 4px #4dce1a; */
}
.cardImg{
    border-radius: 10px;
    
}
.featHead{
    text-align: center;
    color: green;
}
.searchBar{
    margin-top: 8rem;
    object-position: center;
    margin-left: 1.5rem;
    box-shadow: rgb(14, 0, 0);
}
.favHead{
    margin-top: 6rem;
    text-align: center;
    color: green;
}
/* #home-btn{
    margin-left: px;
} */