html,
body,
#react-root {
  height: 100%;
  font-family: 'Righteous';
}

body {
  font-family: 'Righteous';
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}


/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 30px;
}
#logoutContainer {
  padding: 20px;
}
.about{
  margin-top: 10rem;
  text-align: center;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #fdd245;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #f8be5300;
  color: #f8f8f8;
  font-size: 1.2rem;
  outline: 0;
  cursor: pointer;
  /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.372), 0 6px 20px 0 rgba(0, 0, 0, 0.31); */
}
.favBtn{
  display: flex;
  
    justify-content: flex-end !important;
}
.delete-btn{
  height: 47px !important;
  margin-top: 9px !important;
  margin-left: 29px !important;
  
}


.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008300;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #258300;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  color:white;
  /* margin: 0 auto 20px; */
  margin-top: 12rem;
  background-image: linear-gradient(45deg, #086e08, #40dd4d) !important;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  text-transform: uppercase;
}

input {
  margin: 5px;
  margin-bottom: 10px;
  display: flex;
}

/* --------------------------------------------------------------------------------
Hamburger Icon
-------------------------------------------------------------------------------- */

.navBar button {
  position: fixed;
  
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: rgba(0, 139, 139, 0);
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  /* color: #3fffd2; */
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.navBar button {
  background: transparent;;
  border: none;
}