.detailCard{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    margin: 2rem auto;
    margin-top: 6rem;
    width: 300px;
    background-image: linear-gradient(45deg,  #40dd4d, #086e08);
    text-align: center;
    color: white;
}
.details{
    display: inline;
    width: 200px;
    margin-top: 4rem;
}
.detailImg{
    margin-bottom: 2rem;
}
.btn{
    display:inline;
    width: 100px;
    margin: 0 auto;
}
.buttons{
    display:inline !important;
}

.home-btn{
display: inline-block;
margin-left: 5rem;
}
#rateBtn{
    background-color: green;
}
#favItBtn{
    background-color: green;
    display: inline !important;
}
.detailName{
    text-align: center;
    margin-top: 7rem;
}
.detailCity{
    text-align: center;
}

h4{
    /* text-shadow: 2px 2px 4px #000000; */
}
h3{
    /* text-shadow: 2px 2px 4px #000000; */
}
/* {
    text-shadow: 2px 2px 4px #000000;
} */