.detailCard{
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    margin: 2rem auto;
    margin-top: 6rem;
    width: 300px;
    background-image: linear-gradient(45deg,  #40dd4d, #086e08);
    text-align: center;
    color: white;
}
.details{
    display: inline;
    width: 200px;
    margin-top: 4rem;
}
.detailImg{
    /* margin-bottom: 2rem; */
}
.btn{
    display:inline;
    width: 100px;
    margin: 0 auto;
}
.buttons{
    display: flex;
    margin-top: 15px;
}

.home-btn{
display: inline-block;
margin-left: 5rem;
}
#rateBtn{
    background-color: green;
}
#favItBtn {
    /* width: 100px; */
    background-color: green;
    /* display: inline !important; */
    /* padding: 10px 20px; */
    padding: 0;
    /* border-width: 1px 1px 3px; */
    height: 46px;
    margin-top: 7px;
    text-align: center;
}
.detailName{
    text-align: center;
    margin-top: 9rem;
}
.detailCity{
    text-align: center;
}
/* .status{
    border: solid green;
    margin-left: 9rem;
    margin-right: 10rem;
    object-position: center;
    border-radius: 10px;
} */
.stars{
    margin-left: 5rem;
}
.openStatus{
    font-size: 200%;
    font-weight: bold;
    margin-left: 1rem;
    color:rgb(4, 186, 4);
    
}
.condition {
    font-size: 170%;
    font-weight: bold;
    /* float: right; */
    color: rgb(4, 186, 4);
    text-align: center;
    margin-right: 1rem;
    margin-top: 4px;
    /* vertical-align: text-bottom; */
}
.seperate{
    font-size: 180%;
}
.detailStatus {
    display: flex;
    justify-content: space-between;
}

h4{
    /* text-shadow: 2px 2px 4px #000000; */
}
h3{
    /* text-shadow: 2px 2px 4px #000000; */
}
/* {
    text-shadow: 2px 2px 4px #000000;
} */
