.checkBox {  
    width: 200px;

    position: relative;
    left: -20px;

    display: inline-block;
    vertical-align: middle;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.conditions{
    color: #52af77;
}
.MuiTypography-body1{
    color: green !important;
}
.lineSegment{
    position: 'absolute';
    /* left: `${node.depth * boxGap}px`;
    top: `${order * (boxHeight + boxGap)}px`; */
    /* height: `${boxHeight}px`; */
    border: .5px solid rgb(24, 182, 24);
    width: 300px;
    border-radius: '2px';
    padding: '10px';
    /* boxSizing: 'border-box'; */
    display: 'flex';
    align-items: 'center';
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
#submit-btn{
    text-align: center;
    margin-left: 4rem;
    margin-top: 3rem;
    background-color: green;
    width: 200px;
}
.openClose{
    font-size: 180%;
}