.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 0 30px;
  background-image: linear-gradient(45deg, #086e08, #40dd4d) !important;
  overflow: hidden;
  
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.4rem !important;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  transform: scale(1.5);
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #3f51b5;
  background-image: linear-gradient(
45deg
, #086e08, #40dd4d) !important;
}
/* background for drawer */
.MuiPaper-root { 
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: linear-gradient(45deg, #40dd4d, #086e08);
 
} 
.MuiToolbar-regular {
  min-height: 40px;
  height: 90px;
}
.MuiTypography-body1 {
  color: white !important ;
}
.homeNav{
  color: white;
  text-shadow: none !important;
  margin-left: 0rem;
  text-transform: uppercase;
}
.favNav{
  color: white;
  text-shadow: none !important;
  margin-left: 1.5rem;
}
.aboutNav{
  color: white;
  text-shadow: none !important;
  margin-left: 2rem;
}
.traxNav{
  margin-left: 2rem;
  padding: 1% !important;
  text-shadow: none !important;
  font-family: 'Righteous';
  /* margin-bottom: -.5rem; */
}
.homeIcon{
  margin-left: 2rem;
}
.favIcon{
  margin-left: -.5rem;
  text-transform: capitalize !important;
}
.aboutIcon{
  margin-left: -.5rem;
}

a {
  /* display: block; */
  padding: 20px 40px;
  text-decoration: none;
  color: #ffffff !important;
  /* text-transform: uppercase; */
  text-align: center !important;
  font-weight: bold;
}
.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin-left: 130%;
}

.navLink {
  display:list-item;
  
  color: #f2f2f2;
  background-color: green;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
  
}

.navLink:hover {
  background-color: green;
}

.navBar {
  position:sticky;
  z-index: 1;
  font-family: 'Righteous';
}

.navbtn{
  position:sticky;
  z-index: 1;
}
